
/* 尾页介绍区*/
.end_div{
    height:auto;
    width:100%;
    border:1px solid #E8E8E8;
    min-width:1000px;
    max-width:1200px;
    background-color: #EDEDED;
    font-size: 12px;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width:expression_r( Math.max(1000, Math.min(1200, document.body.offsetWidth*0.99))+"px" );
}

/* 页尾商城介绍*/
.end_div  {justify-content: center;align-items: center;margin-top: 20px}
.end_div  table{margin: 0 auto}
.end_div  table th{text-align: center;vertical-align:middle;color:#999999;font-weight: bold;}
.end_div  table td {text-align: center;font-size: 12px;color: #999999;}
.end_div  table td a{color: #999999;}

.end_div .table_aboutus {margin-top: 20px;border-top: 1px solid #E8E8E8}
