.content{
    width:100%;
    height:auto;
    min-width:1000px;
    max-width:1200px;
    margin:0 auto;
    width:expression_r( Math.max(1000, Math.min(1200, document.body.offsetWidth*0.99))+"px" );
    border:1px solid #E8E8E8;
}

/* 商品预览区，商品价格信息区，店铺信息区*/
.category_div{
    width:100%;
    height:auto;
    border-top:1px solid #E8E8E8;
    border-bottom:1px solid #E8E8E8;
    min-width:1000px;
    max-width:1200px;
    margin:0 auto;
    margin-top: 20px;
    width:expression_r( Math.max(1000, Math.min(1200, document.body.offsetWidth*0.99))+"px" );
}
.category_div ul{list-style: none;padding: 0px;margin: 0px}
.category_div ul .categorys_area{height: 550px;}

.category_div .category_detail{width:60%;height:550px;padding:10px;float: left;border:1px solid #E8E8E8;border-bottom: none}
.category_div .category_detail .title{font-size: 16px;font-weight:bold;
    text-align: center;height: 50px;line-height: 50px;padding-left: 10px;margin-top: 5px}
.category_div .category_detail .ptag{margin-left: 10px;}



.category_div .category_detail label{color: #9999A3}
.category_div .category_detail ul{list-style: none;margin: 0px;padding: 0px;}
.category_div .category_detail ul li{margin: 5px 0px;padding-left: 10px}
.category_div .category_detail .name{
    font-family: "微软雅黑";
    font-size: 12px;
    color: #595959;
    cursor: pointer;
}
/*.category_div .category_detail .value{*/
    /*font-family: "微软雅黑";*/
    /*font-size: 12px;*/
    /*color: #595959;*/
    /*cursor: pointer;*/
    /*margin-left: 50px;*/
/*}*/

.category_div .category_detail .price{
    font-family:"微软雅黑";
    font-size: 18px;
    color: #d7282d;
    margin-left: 26px;
    margin-top: 4px;
}


.category_div .category_detail #r-price{font-size: 18px;margin-left: 35px}
.category_div .category_detail .btns{padding: 0;margin: 0}
.category_div .category_detail .btns li{float: left;margin-right: 15px}


.category_div .category_store{width:25%;height:550px;float: left;border:1px solid #E8E8E8;border-bottom: none}
.category_div .category_store span{font-size: 16px;text-align: center;height: 50px;line-height: 50px;padding-left: 10px}
.category_div .category_store label{color: #9999A3}
.category_div .category_store ul{list-style: none;margin: 0px;padding: 0px;}
.category_div .category_store ul li{margin: 5px 0px;padding-left: 10px}
.category_div .category_store .name{font-size: 14px;}
.category_div .category_store .value{font-size: 14px;margin-left: 35px}

.category_div .category_banner{width:40%;float: left;}
.category_div .category_items{width:25%;float: left;}
/* end 商品预览区，商品价格信息区，店铺信息区*/
